# Yeah
alias ll="ls -al"
alias ..="cd .."



# Git command acronyms
alias ga="git add ."
alias gc="git commit -m "
alias gd="git diff "
alias gf="git fetch --all"
alias gp="git push origin "
alias grm="git rebase master"
alias gs="git status"

alias co="git checkout "
alias b="git checkout -b "
alias branch=b


